<!-- Footer -->
<footer class="page-footer font-small blue mt-5 footer-shadow">
    <div class="footer-copyright text-center py-3">
      <p>© 2020 Copyright: K.K. & K.K.</p>
    </div>
  
</footer>
  <!-- Footer -->