<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="">
        <div class="p-4 pt-5">
            <div class="row m-auto">
                <h5 class="sidebar-title-name sidebar-name-title col-md-10" id="insert_sidebar_name">
                </h5>
            </div>

            <ul class="list-unstyled components mb-5">

                <li>
                    <a href="/">เติมเงิน</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">ข้อมูล</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/admin/edit_store">ร้านค้า</a>
                        </li>
                        <li>
                            <a href="/admin/edit_student">นักเรียน</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/register_store">สมัครร้านค้า</a>
                </li>

                <li>
                    <a href="/admin/category">คลังอาหาร</a>
                </li>

                <li>
                    <a href="/auth/logout">ออกจากระบบ</a>
                </li>
                
            </ul>
        
        </div>
    </nav>