<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="">
        <div class="p-4 pt-5">
            <div class="row m-auto">
                <!-- <div class="sidebar-name-box"> -->
                      <h5 class="sidebar-title-name sidebar-name-title col-md-12" id="insert_sidebar_name"></h5>
                <!-- </div> -->
                <!-- <button type="button" class="btn btn-primary col-md-2" id="notification">
                    <i class="fa fa-exclamation-circle text-right"></i>
                </button>   -->
                <!-- <button type="button" 
                        class="btn btn-info example-popover" 
                        id="show_notification"
                        title="" 
                        data-container="body" 
                        data-toggle="popover" 
                        data-placement="right" 
                        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
                        data-original-title="Popover Title"> <i class="fa fa-exclamation-circle text-right"></i>
                </button> -->
            </div>  
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/">หน้าหลัก</a>
                </li>
                <li>
                    <a href="/student/history">ประวัติ</a>
                </li>
                <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ประวัติ</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/student/history">การใช้จ่าย</a>
                        </li>
                        <li>
                            <a href="/student/history/calorise">การกิน</a>
                        </li>
                        <li>
                            <a href="/student/history/graph">กราฟ</a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <a href="/student/setting">ตั้งค่า</a>
                </li>
                <li>
                    <a href="/auth/logout" >ออกจากระบบ</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </nav>
