<!-- <div class="container">
    store home page
    <a href="/store/report" class="btn btn-info btn-block">report</a>  
    <a href="/store/category" class="btn btn-info btn-block">category</a>  
    <input type="button" class="btn btn-secondary" value="กลับ" onclick="history.back()">
    <div class="card card-body m-auto">
        <div class="form-group">
            <label for="insertIdcard">ID Card</label>
            <input type="text" class="form-control" placeholder="insert id card" id="search_student_idcard">
            <button class="btn btn-primary" onclick="search_student($('#search_student_idcard').val())">check</button>
        </div>
        <div id="showStudentData">

        </div>
    </div> 
</div> -->

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="toggle-title-name">หน้าหลัก</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/store">หน้าหลัก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/storefront">ร้านค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/report">ประวัติ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/category">สมุดอาหาร</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Job Id</div>
      <div class="col col-2">Customer Name</div>
      <div class="col col-3">Amount Due</div>
      <div class="col col-4">Payment Status</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">John Doe</div>
      <div class="col col-3" data-label="Amount">$350</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42442</div>
      <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
      <div class="col col-3" data-label="Amount">$220</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42257</div>
      <div class="col col-2" data-label="Customer Name">John Smith</div>
      <div class="col col-3" data-label="Amount">$341</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42311</div>
      <div class="col col-2" data-label="Customer Name">John Carpenter</div>
      <div class="col col-3" data-label="Amount">$115</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
  </ul>
        </div>
    </div>
</div>
