<!-- <div class="container">
    store home page
    <a href="/store/report" class="btn btn-info btn-block">report</a>  
    <a href="/store/category" class="btn btn-info btn-block">category</a>  
    <input type="button" class="btn btn-secondary" value="กลับ" onclick="history.back()">
    <div class="card card-body m-auto">
        <div class="form-group">
            <label for="insertIdcard">ID Card</label>
            <input type="text" class="form-control" placeholder="insert id card" id="search_student_idcard">
            <button class="btn btn-primary" onclick="search_student($('#search_student_idcard').val())">check</button>
        </div>
        <div id="showStudentData">

        </div>
    </div> 
</div> -->

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="toggle-title-name">หน้าหลัก</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/store">หน้าหลัก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/storefront">ร้านค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/report">ประวัติ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/store/category">สมุดอาหาร</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- v0 -->
<!-- <button class="btn btn-primary">คิดเงิน</button>
<button type="button" class="btn btn-primary">
  add <span class="badge badge-light" onclick="add_menu_in_query()"> <p id="clicks"></p></span>
</button>
<button type="button" onClick="onClick()">Click me</button>
<p>Clicks: <a id="clicks">0</a></p> -->
<!-- v1 -->
<!-- <button class="btn btn-primary plus" onClick="add_menu()">+</button>
<button class="btn btn-danger plus" onClick="del_menu()">-</button>
<p>Clicks: <a id="add_menu">0</a></p> -->

<!-- <div>
  <h1>ข้าวมันไก่</h1><a id="count_menu_food_1" ></a>
  <button class="btn btn-primary plus" onClick="add_menu('btn1','0001','ข้าวมันไก่','35')" >30 บาท </button><a id="add_del_btn"></a>
</div>
<div>
  <h1>ข้าวมันไก่ทอด</h1><a id="count_menu_food_2" ></a>
  <button class="btn btn-primary plus" onClick="add_menu('btn2','0001','ข้าวมันไก่ทอด','40')" >30 บาท </button><a id="add_del_btn"></a>
</div>

<div>
  Menu in bill
  <div id="menu_in_bill">

  </div>
</div> -->

<!-- <button class="btn btn-primary buy-btn buy_btn" id="food_list_id_0001" onclick="confirm_buy_item($('#student_id').text(),'0001','ข้าวมันไก่','35')">
  <div>
    35 บาท
  </div>
</button> -->

<!-- v2 -->
<div class="row">
  <div class="col-6">
    <div>
      <h2>รวมยอดเงิน <a id="count_money">0</a> บาท</h2>
    </div>
    <div>
      <a id="show_cart"></a>
    </div>
  </div>
  <div class="col-6">
    <div>
      <h1>ข้าวมันไก่</h1><a id="count_order_food_1" ></a>
      <button class="btn btn-primary plus" onClick="add_item('menu_1','0001','ข้าวมันไก่','30','300')" >30 บาท </button><a id="add_del_order_menu_1"></a>
    </div>
    <div>
      <h1>ข้าวมันไก่ทอด</h1><a id="count_order_food_2" ></a>
      <button class="btn btn-primary plus" onClick="add_item('menu_2','0002','ข้าวมันไก่ทอด','40','400')" >40 บาท </button><a id="add_del_order_menu_2"></a>
    </div>
    <div>
      <h1>ข้าวขาหมู</h1><a id="count_order_food_3" ></a>
      <button class="btn btn-primary plus" onClick="add_item('menu_3','0003','ข้าวขาหมู','45','500')" >45 บาท </button><a id="add_del_order_menu_3"></a>
    </div>
  </div>
  
</div>

<div>
  <button class="btn btn-success" onclick="submit_order()">คิดเงิน</button>
</div>

<div>
  <button class="btn btn-success" onclick="test_func()">test func</button>
</div>



    </div>
</div>





<script >
  // v0
  var clicks = 0;
  function onClick() {
      clicks += 1;
      document.getElementById("clicks").innerHTML = clicks;
  };


  // v1
  var add_menu_in_q = 0;
  bill = [];
  add_menu = (btn,food_id,food_name,food_price) => {
    add_menu_in_q += 1;
    var init_bill = {food_id,food_name,food_price};
    bill.push(init_bill)
    console.log(bill)
    $('#count_menu').text(add_menu_in_q);
    $('#add_del_btn').html('<button class="btn btn-danger plus" onClick="del_menu('+btn+')">-</button>');
    $('#menu_in_bill').append(bill)
  }

  del_menu = (btn) => {
    if (add_menu_in_q <= 0) {
      
    } else {
      add_menu_in_q -= 1;
      $('#count_menu').text(add_menu_in_q);
    }
  }

  // v2
  var cart = [];
  var total_money = 0;
  const cart_order = {};
  add_item = (menu_no,food_id,food_name,food_price,food_calories) => {

      // add order to bill v2
    // console.log(cart_order)

    if (!cart_order[food_id]) {
        cart_order[food_id] = {
          food_id:food_id,
          food_name:food_name,
          food_price:food_price,
          food_calories:food_calories,
          amount:1
        }
    } else {
      cart_order[food_id].amount += 1;
    }
    console.log(cart_order)

      // v2
    total_money = total_money + Number(cart_order[food_id].food_price) ;
    // console.log(total_money)
    $('#count_money').text(total_money);
    console.log(menu_no)

      // add del button
    $('#add_del_order_'+menu_no).html('<button class="btn btn-danger plus" onclick="del_item(\'' + menu_no + '\',\'' + food_id + '\')">-</button>');

    $('#show_cart').html('<p>'+JSON.stringify(cart)+'</p>')
  }



  del_item = (menu_no,food_id) => {
    console.log('del food')
    console.log(cart_order[food_id])
      // v2
    total_money = total_money - Number(cart_order[food_id].food_price)

    console.log(cart_order)
    $('#count_money').text(total_money);

          // remove item from cart v2
    if (cart_order[food_id].amount == 1) {
      delete cart_order[food_id]
      $('#add_del_order_'+menu_no).html('<a id="add_del_order_menu_1"></a>')
    }
    else if (cart_order[food_id].amount > 1) {
      cart_order[food_id].amount -= 1;
    }
    
    $('#show_cart').html('<p>'+JSON.stringify(cart)+'</p>')
    
  }

  // submit order to server
  submit_order = () => {
    console.log('Submit order to server');
    console.log('order');
    console.log(cart_order);
    $.ajax({
      type:'PATCH',
      url:'/store/buy_order',
      dataType:'json',
      data:{ 
        student_id:'14135',
        cart_order
      },
      success:(msg_back) => {
        console.log('success')
        console.log(msg_back)
      },error:(msg_back) => {
        console.log('error')
        console.log(msg_back)
      }
    })
  }

  // test
  test_func = () => {
    console.log([Object.keys(cart_order)])
    // console.log(Object.keys(cart_order).length)
    console.log(cart_order[Object.keys(cart_order)[0]].food_price * cart_order[Object.keys(cart_order)[0]].amount)
    // document.getElementById('show_cart').html('')
    // $('#show_cart').html('')
  }
</script>