<div class="container">
    <form action="/admin/register_student" method="POST">
        <div class="form-group" >
            <label for="role">บทบาท</label>
            <input 
              type="text"
              name="role"
              class="form-control"
            />
        </div>
        <div class="form-group" >
              <label for="class">ชั้น</label>
              <input 
                type="text"
                name="class"
                class="form-control"
              />
          </div>
          <div class="form-group" >
            <label for="room">ห้อง</label>
            <input 
              type="number"
              name="room"
              class="form-control"
            />
        </div>
        <!-- <div class="form-group" >
            <label for="schoolID">รหัสโรงเรียน</label>
            <input 
              type="text"
              name="schoolID"
              class="form-control"
            />
        </div> -->
        <div class="form-group" >
            <label for="weight">นน</label>
            <input 
              type="text"
              name="weight"
              class="form-control"
            />
            <label for="height">ส่วนสูง</label>
            <input 
              type="text"
              name="height"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="pName">คำนำหน้า</label>
            <input 
              type="text"
              name="pName"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="fName">ชื่อ</label>
            <input 
              type="text"
              name="fName"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="lName">นามสกุล</label>
            <input 
              type="text"
              name="lName"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="dob">วันเกิด</label>
            <input 
              type="date"
              name="dob"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="sex">เพศ</label>
            <input 
              type="text"
              name="sex"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="address">ที่อยู่</label>
            <input 
              type="text"
              name="address"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="uid">เลขบัตรประชาชน</label>
            <input 
              type="text"
              name="uid"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="tel">เบอร์โทรศัพท์</label>
            <input 
              type="text"
              name="tel"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="studentID">รหัสนักเรียน</label>
            <input 
              type="text"
              name="studentID"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="idCard">เลขบัตรนักเรียน</label>
            <input 
              type="text"
              name="idCard"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="email">email</label>
            <input 
              type="text"
              name="email"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="parentPName">คำนำหน้าชื่อผู้ปกครอง</label>
            <input 
              type="text"
              name="parentPName"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="parentFName">ชื่อผู้ปกครอง</label>
            <input 
              type="text"
              name="parentFName"
              class="form-control"
            />
            <label for="parentLName">นามสกุลผู้ปกครอง</label>
            <input 
              type="text"
              name="parentLName"
              class="form-control"
            />
        </div>
        <div class="form-group" >
            <label for="parentTel">เบอร์โทรศัพท์ผู้ปกครอง</label>
            <input 
              type="text"
              name="parentTel"
              class="form-control"
            />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                    ลงทะเบียน
            </button>
            <input type="button" class="btn btn-secondary" value="กลับ" onclick="history.back()">
      </div>
    </form>
</div>